/*ビジュアルエディターのスタイルを書く*/

/* h2 */
.mceContentBody h2 {
    border-left: 10px solid #7eb4d7;
    margin: 40px -29px 20px;
    padding: 25px 30px;
    font-size: 26px;
    background-color: #e4edf4;
}
/* h3 */
.mceContentBody h3 {
    font-size: 23px;
    border-bottom: 5px solid #7eb4d7;
    padding: 10px 0;
}
